body {color: black; background: white; margin: 0; padding: 0; font-size:11px;}

table {width: 100%; padding: 0; font-size:11px;}
table td {padding: 0; border-width: 0; vertical-align: top; font-family: Verdana, Arial, Helvetica, sans-serif;}

a {color: #828282; text-decoration: none; font-weight: normal; background-color: transparent; font-size:11px;}
a:hover {color: Red; font-size:11px;}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
ul { margin: 2px; padding: 2px; list-style: decimal inside; text-align: left;}
li { margin-left: 2px; list-style: square inside; color: Navy;
}

input.formButton {}

.item {border: 1px solid #CCCCCC;}
.itemHead {padding: 1px; background-color: Navy; color: #FFFFFF;  font-style: italic; }
.itemInfo {text-align: right; padding: 3px; background-color: #EFEFEF}
.itemTitle a {font-weight: normal; font-variant: small-caps; color: #ffffff; background-color: transparent;}
.itemPoster {font-size: 90%; font-style:italic;}
.itemPostDate {font-size: 90%; font-style:italic;}
.itemStats {font-size: 90%; font-style:italic;}
.itemBody {padding-left: 5px;}
.itemText {margin-top: 5px; margin-bottom: 5px; line-height: 1.5em;}
.itemText:first-letter {font-size: 100%; font-weight: normal;}
.itemFoot {text-align: right; padding: 3px; background-color: #EFEFEF}
.itemAdminLink {font-size: 90%;}
.itemPermaLink {font-size: 90%;}

th {background-color: Navy; color: #FFFFFF; padding : 2px; vertical-align : middle; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px;}

td#headerbanner {width: 100%; background-color: #090C1B; vertical-align: middle; text-align:center;}
td#headerbar {border-bottom: 1px solid #DDDDDD; background-image: url(hbar.gif);}

td#leftcolumn {width: 170px; border-right: 1px solid #CCCCCC; font-size:11px;}
td#leftcolumn th {background-color: Navy; color: #FFFFFF; vertical-align: middle;}
td#leftcolumn div.blockTitle {padding: 2px; background-color: Navy; color: White; font-weight: bold;        font-variant: normal;  font-style: italic;  padding-left: 10px;         }
td#leftcolumn div.blockContent {padding: 2px; line-height: 120%; line-height: 120%;}


td#centercolumn {font-size: 11px;}

td#centercolumn th {background-color: Navy; color: #FFFFFF; vertical-align: middle;}
td#centerCcolumn {padding: 0px 3px 1px 3px;}
td#centerCcolumn legend.blockTitle {padding: 3px; color: Blue; font-weight: normal; margin-top: 0px; margin-right: 0px;  margin-left: 0px;}
td#centerCcolumn div.blockContent {border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #DDDDDD; padding: 3px; margin-right: 0px;  margin-left: 0px; margin-bottom: 2px; line-height: 120%;}

td#centerLcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerLcolumn legend.blockTitle {padding: 3px; color: Blue; font-weight: normal; margin-top: 0px;}
td#centerLcolumn div.blockContent {border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #DDDDDD; padding: 3px; margin-left: 3px; margin-right: 2px; margin-bottom: 2px; line-height: 120%;}

td#centerRcolumn {width: 50%; padding: 0px 3px 0px 0px;}
td#centerRcolumn legend.blockTitle {padding: 3px; color: Blue; font-weight: normal; margin-top: 0px;}
td#centerRcolumn div.blockContent {border-left: 1px solid #CCCCCC; border-right: 1px solid #CCCCCC; border-bottom: 1px solid #DDDDDD; padding: 3px; margin-left: 2px; margin-right: 3px; margin-bottom: 2px; line-height: 120%;}

div#content {text-align: left; padding: 8px;}

td#rightcolumn {width: 170px; border-left: 1px solid #CCCCCC; font-size:11px;}
td#rightcolumn th {background-color: Navy; color: #FFFFFF; vertical-align: middle;}
td#rightcolumn div.blockTitle {padding: 3px; background-color: #DDDDDD; color: Blue; font-weight: normal;}
td#rightcolumn div.blockContent {padding: 3px; line-height: 120%;}

tr#footerbar {text-align:center; background-image: url(hbar.gif);}

td#mainmenu a { display: block; margin: 0; padding: 2px; font-size:11px;}
td#mainmenu a:hover {background-color: #D9D9FF;font-size:11px;}
td#mainmenu a.menuTop {padding-left: 3px; border-top: 1px solid Silver; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid Silver;font-size:11px;}
td#mainmenu a.menuMain {padding-left: 3px; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid Silver;font-size:11px;}
td#mainmenu a.menuSub {padding-left: 10px; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid Silver;font-size:11px;}

td#usermenu a { display: block; margin: 0; padding: 2px; border-right: 1px solid #666666; border-bottom: 1px solid #666666; border-left: 1px solid Silver;font-size:11px;}
td#usermenu a:hover {background-color: #D9D9FF;font-size:11px;}
td#usermenu a.menuTop {border-top: 1px solid Silver;font-size:11px;}
td#usermenu a.highlight {background-color: #FFCCCC;font-size:11px;   }

.outer {border: 1px solid Silver;}
.head {background-color: #C2CDD6; padding: 5px; font-weight: normal;}
.even {background-color: #DEE2E7; padding: 5px;}
.odd {background-color: #E9E9E9; padding: 5px;}
.foot {background-color: #C2CDD6; padding: 5px; font-weight: normal;}
tr.even td {background-color: #DEE2E7; padding: 5px;}
tr.odd td {background-color: #E9E9E9; padding: 5px;}

div.errorMsg { background-color: #FFCCCC; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: normal; padding: 10px;}
div.confirmMsg { background-color: #DDFFE0; color: #136C99; text-align: center; border-top: 1px solid #DDDDFF; border-left: 1px solid #DDDDFF; border-right: 1px solid #AAAAAA; border-bottom: 1px solid #AAAAAA; font-weight: normal; padding: 10px;}
div.resultMsg { background-color : #CCCCCC; color: #333333; text-align: center; border-top: 1px solid Silver; border-left: 1px solid Silver; font-weight: normal; border-right: 1px solid #666666; border-bottom: 1px solid #666666; padding: 10px;}

div.xoopsCode { background: #FFFFFF; border: 1px inset #000180; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}
div.xoopsQuote { background: #FFFFFF; border: 1px inset #000180; font-family: "Courier New",Courier,monospace; padding: 0px 6px 6px 6px;}


.comTitle {font-weight: Normal; margin-bottom: 2px;}
.comText {padding: 2px;}
.comUserStat {font-size: 10px; color: Navy; font-weight:normal; border: 1px solid Silver; background-color: #ffffff; margin: 2px; padding: 2px;}
.comUserStatCaption {font-weight: normal;}
.comUserStatus {margin-left: 2px; margin-top: 10px; color: Navy; font-weight:normal; font-size: 10px;}
.comUserRank {margin: 2px;}
.comUserRankText {font-size: 10px;font-weight:normal;}
.comUserRankImg {border: 0;}
.comUserName {}
.comUserImg {margin: 2px;}
.comDate {font-weight: normal; font-style: italic; font-size: smaller}
.comDateCaption {font-weight: normal; font-style: normal;}